@font-face {
  font-family: "Inter";
  src: local("Inter"),
   url("../../assets/fonts/static/Inter-Light.ttf") format("truetype");
  font-weight: bold;
}
  
* {
  font-family: "Inter";
  font-weight: bold;
}

.header {
  display: block;
}

.detailsContainer {
  position: relative;
}

.image {
  left: 0;
  top: 0;
}

.row {
  display: flex;
}

.text {
  z-index: 100;
  line-height: 96%;
  position: absolute;
  color: whitesmoke;
  text-align: right;
  text-shadow: -.1px .1px 6px black;
  font-size: 32px;
  font-weight: bold;
  left: .75em;
  top: 1.75em;
}

body {
  background-attachment: fixed;
  background-image: url(../../assets/images/cafe.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background-color: gray;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  padding: .25rem;
  text-shadow: 1px 1px .1px black;
}
